<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Bot UI</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
                                <li class="active"><a href="#">Home</a></li>
                        </ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            		<ul class="nav sidebar-nav">
				<li class="dropdown">
                  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  			<ul class="dropdown-menu" role="menu">
                    				<li class="dropdown-header">Dropdown heading</li>
                    				<li><a href="#">Action</a></li>
                    				<li><a href="#">Another action</a></li>
                    				<li><a href="#">Something else here</a></li>
                    				<li><a href="#">Separated link</a></li>
                    				<li><a href="#">One more separated link</a></li>
                  			</ul>
                		</li>
				<li>
                    			<a href="#">Home</a>
                		</li>
				<li>
                    			<a href="#">Home</a>
                		</li>
			</ul>
		</nav>
	</div>
	<div class="container main">
		<h1>My First Bootstrap Page</h1>
		<p>This is some text.</p> 

	</div>
</body>
</html>
